<footer id="contact">
    <div class="footer-container">
      <div class="left-col">
        <div class="social-media">
          <a href="https://www.facebook.com/omertairi2004/"><i class="fab fa-facebook-f"></i></a>
          <a href="https://github.com/omertairi04/"><i class="fab fa-github"></i></a>
          <a href="https://www.instagram.com/_omertairi/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/omer-tairi-258469225/"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p class="rights-text">© 2023 Created By <b>Omer Tairi</b>  All Rights Reserved.</p>
        <p class="rights-text" style="font-size: 10px;">Inspiration from <a style="text-decoration: none;" href="https://fantacydesigns.com/footer-design-in-html#"><b>FantacyDesigns</b></a></p>
      </div>

      <div class="right-col">
        <h1>Let's get in touch</h1>
        <div class="border"></div>
        <p></p>
        <a href="mailto:otairi010@gmail.com"><i style="font-size: 26px;" class="fas fa-envelope"></i></a>

      </div>
    </div>
</footer>