body {
  background-color: #faf9f9;
}

#introduction {
    background-color: #faf9f9;
    padding: 80px 0;
  }
  
  #introduction h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #introduction h2 {
    font-size: 24px;
    color: #007bff;
    margin-bottom: 30px;
    text-align: center;
  }
  
  #introduction p {
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: left;
  }
  
  .profile-image img {
    border-radius: 50%;
    max-width: 100%;
    display: block;
    width: 300px;
    height: 300px;
    float: right;
  }
  
  .col-md-6:first-child {
    order: 2;
  }
  
  .col-md-6:last-child {
    order: 1;
  }
  
  .btn {
    display: inline-block;
    font-size: 18px;
    padding: 10px 30px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }
  
  #about-me {
    background-color: #f9f9f9;
    padding: 50px 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-me-content {
    display: flex;
    align-items: center;
  }
  
  img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 30px;
  }
  
  .about-me-text {
    flex: 1;
  }
  
  h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .skills-section {
    margin: 50px 0;
    background-color: #faf9f9;
  }
  
  .skill {
    margin-bottom: 20px;
  }

  .skills-section h2{
    text-align: center;
  }
  
  .skill h3 {
    margin-bottom: 10px;
  }
  
  .skill-bar {
    height: 10px;
    background-color: #ddd;
    border-radius: 50px;
  }
  
  .skill-level {
    height: 100%;
    background-color: #007bff;
  }
  
  .projects {
    padding: 50px 0;
    background-color: #f7f7f7;
  }

  .projects h2{
    text-align: center;
  }
  
  .project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
  }
  
  .project {
    background-color: #fff;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
  }
  
  .project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0;
  }
  
  .project-info {
    padding: 20px;
  }

  .project-info h3 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
  }
  
  .project-info p {
    margin-bottom: 20px;
  }
  
  .project-info a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-right: 5px;
  }
  
  .project-info a:hover {
    background-color: #0062cc;
  }

  #popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    box-shadow: 0px 0px 10px #cccccc;
    text-align: center;
}

  #popup p{
    font-size: 20px;
  }
